<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--press Alt+Enter and download library-->
    <!--press Ctrl+Alt+S to call Settings, print lib and checkbox jquery-->
    <title>home Async</title>
</head>
<body>

<!--in a regular way any buttons like submit or button reload the whole page and block the browser-->
<!--it was a sync mode-->
<div class="insert">

    <input id="name" placeholder=""/>
    <input id="email" placeholder=""/>
    <button id="btn">save</button>

</div>


<div class="target"></div>

<script>
    $('#btn').click(function () {

         $('.target').empty(); // to clear out the previous list
        var $name = $('#name').val();
        var $email = $('#email').val();
        console.log($name, " ", $email);
       let contact = {name:$name, email:$email};
   //  it works with rest controllers and it does not need to restart the whole page
        $.ajax({
            url:'/saveAsync',
             type:'POST',
            data:JSON.stringify(contact),
            contentType:'application/json',
            // the following takes info from controller, results is an arbitrary name
            success: function (results) {
                console.log(results);
                for(const contact of results){
                    let data = `${contact.id} ${contact.name} ${contact.email}`;
                    let $div = $('<div/>', {class: 'xxx', text: data});
                    $('.target').append($div);
                }
            }
        });
    });
    //    var value= document.getElementById("name").value;
</script>

</body>
</html>